.App {
  
  background-color: #d2dbb1;
  width: 100%;
  height: 100%;
}

.appContainer {
  display: flex;
}

.imageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.image {
  margin-top: 75px;
  margin-bottom: 100px;
  width: 80%;
  
}

.textContainer {
  width: 50%;
}

.buttonContainer {
  display: flex;
  flex-direction: column
}
 .buttonItem {
  margin: 10px;

 }

 .button {
  width: 40%;
 }

 