.selectGuide {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.guide {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  
}

.guide label {
    margin: 5px;
}

.imgContainer {
    display: flex;
    justify-content: center;

}
img {
    max-width: 80%;
}

.zoneGuides {
    display: none;
}

.description {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;;
}
@media only screen and (min-width: 600px) {

    .zoneGuides {
        display: flex;
    }

    img {
        max-width: 500px;
        width: 75%;
    }

}