.desktopMenu {
    display: none;
}


.mobileMenu {
    background-color: #20140c;
    color: white;
}

.menuButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.mobileMenu button {
    color: white
}

.mobileLinks {
    text-decoration: none;
    color: black
}

@media only screen and (min-width: 600px) {

    .desktopMenu {
        background-color: #20140c;
        color: white;
        height: 65px;
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    .dtMenuTitle {
        display: flex;
        align-items: center;
        justify-content: flex-start;

    }

    .dtMenuLinks {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    
    .links {
        color: white;
        margin: 10px;
        text-decoration: none;
    }

    .mobileMenu {
        display: none
    }


}