.menuContainer {
    background-color: #20140c;
    color: white;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    

}

.links {
    color: white;
    margin: 10px;
    text-decoration: none;
}