.zoneContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.findZone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoneNum{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoneDetails {
    display: flex;
    flex-direction: column;
    margin: 10px;
}



